.header {
    border-bottom: 1px solid $header-border-color;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__nav-link {
    position: relative;

    color: $prymary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &--current,
    &:focus,
    &:hover {
            color: $active-color;
             }
}

.header__nav-link--current::after {
    position: absolute;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    left: 0;
    bottom: 0;
    background-color: $active-color;
}

.header__nav {
    margin-left: 93px;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__nav-item:not(:last-child) {
    margin-right: 50px;
}

.contacts__icon {
    margin-right: 10px;

    &:hover,
    &:focus {
            color: $active-color;
            fill: $active-color;
            }
}

.contacts__link {
    color: $header-contacts;
    fill: $header-contacts;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &:hover,
    &:focus {
            color: $active-color;
            fill: $active-color;
            }
}


.header__contacts {
    display: flex;
    margin-left: auto;

    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    align-items: center;
}

.contacts__items:not(:last-child) {
    margin-right: 50px;
}